
body {
	background-color: black;
}

.navbar {
	background-color: black;
	font-family: 'Megrim', cursive;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: #6960EC;
}

.jumbotron {
	width: 100%;
	background-color: black;
	margin-bottom: 0px;
	text-align: center;
	background-size: 70%;
}


/* Various font styling */

/* Main header within the jumbotron ============================================*/
h1 {
	color: #6960EC;
	font-family: 'Megrim', cursive;
}

/* Card Headers ===============================================================*/
h5 {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 40px;
}

/* Font in the cards ============================================================*/
p {
	font-family: 'Alegreya Sans SC', sans-serif;
}


/* Text below the h1 in the jumbotron ==========================================*/
.lead {
	color: white;
}

/* Styling for the cards */

/* Food Card =================================================================*/
#food-card {
	background-color: #673AB7;
	color: white;
	height: 250px;
	border: 0px;
	border-radius: 0px;
}

#food-card:hover {
	transition: all 0.3s ease-in;
	background-color: #7E57C2;
}

.food-card-content {
	float: right;
}

/* Movie Card ===============================================================*/
#concert-card {
	background-color: #03A9F4;
	text-align: right;
	color: white;
	height: 250px;
	border: 0px;
	border-radius: 0px;
}

#concert-card:hover {
	transition: all 0.3s ease-in;
	background-color: #4FC3F7;
}

.concert-card-content {
	float: left;
}

/* Music Card ===============================================================*/
#music-card {
	background-color: #E91E63;
	color: white;
	height: 250px;
	border: 0px;
	border-radius: 0px;
}

#music-card:hover {
	transition: all 0.3s ease-in;
	background-color: #EC407A;
}

.music-card-content {
	float: right;
}

/* Removing padding from rows and columns ======================================*/
.col {
	padding: 0px;

}

.row {
	margin: 0px;
}