
body {
	background-color: black;
}

.navbar {
	background-color: black;
	font-family: 'Megrim', cursive;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: #6960EC;
}

.jumbotron {
	width: 100%;
	background-color: black;
	margin-bottom: 0px;
	text-align: center;
	background-size: 70%;
}


/* Various font styling */

/* Main header within the jumbotron ============================================*/
h1 {
	color: #6960EC;
	font-family: 'Megrim', cursive;
}

/* Card Headers ===============================================================*/
h5 {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 40px;
}

/* Font in the cards ============================================================*/
p {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
}


/* Text below the h1 in the jumbotron ==========================================*/
.lead {
	color: white;
}

/* Styling for the cards */

/* Food Card =================================================================*/
#food-card {
	background-color: #673AB7;
	margin-bottom: 50px;
}

#food-card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

#food-card-expanded {
	background-color: #673AB7;
	border: 0px;
}

/* Movie Card ===============================================================*/
#movie-card {
	background-color: #03A9F4;
	text-align: right;
	margin-bottom: 50px;
	width: 45%;
	float: right;
}

#movie-card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

#movie-card-expanded {
	background-color: #03A9F4;
	color: black;
	border: 0px;
}

/* Music Card ===============================================================*/
#music-card {
	background-color: #E91E63;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 45%
}

#music-card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
}

#music-card-expanded {
	background-color: #E91E63;
	color: black;
	border: 0px;
	float: right;
}

/* This is the category input box */
#category {
	width: 100%;
	border-radius: 5px;
	border-width: 2px;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin-bottom: 5px;
}

/* This is the create button */
#add-category {
	background-color: #FCE4EC;
	color: #E91E63;
	font-family: 'Alegreya Sans SC', sans-serif;
	border-width: 2px;
	border-radius: 5px;
	border-color: white;
}

/* Adds a shadow to the button on hover */
#add-category:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Loading animation that shows when the Spotify playlist is loading ===========*/
.loader {
	display: none;
}

.loader.show {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.6);
	animation: load ease 3s infinite;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-circle {
	width: 50%;
	padding-bottom: 50%;
	border-radius: 50%;
	background: rgba(255,255,255,0.6);
}

@keyframes load {
	0%{
		border-size: 5px;
	}
	50% {
		width: 20px;
		height: 20px;
		border-size: 1px;
	}
	100% {
		border-size: 5px;
	}
}

.rest-img {
	width: 100%;
}
