
body {
	background-color: black;
}

.navbar {
	background-color: black;
	font-family: 'Megrim', cursive;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: #6960EC;
}

.jumbotron {
	width: 100%;
	background-color: black;
	margin-bottom: 0px;
	text-align: center;
	background-size: 70%;
}

/* Various font styling */

/* Main header within the jumbotron ============================================*/
h1 {
	color: #6960EC;
	font-family: 'Megrim', cursive;
}

/* Card Headers ===============================================================*/
h5 {
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 40px;
}

/* Font in the cards ============================================================*/
p {
	font-family: 'Alegreya Sans SC', sans-serif;
}


/* Text below the h1 in the jumbotron ==========================================*/
.lead {
	color: white;
}

/* Turns of text decorations when hovering over the cards to click ============*/
a:hover   {
  	text-decoration:  none;
  	}


/* Styling for the cards */

/* Solo Card =================================================================*/
#solo-card {
	background: url('https://media.tenor.co/images/651ddab92a72ca29c9dd075f641f87cc/raw');
	background-size: 150%;
	background-color: black;
	color: white;
	height: 400px;
	border: 0px;
	border-radius: 0px;
}

/* Group Card =================================================================*/
#group-card {
	background: url('https://cdn.aarp.net/content/dam/aarp/politics/events-and-history/2017/04/1140-disco-ball-rotate.imgcache.rev68f70fc201b260af09472cba064e652d.gif')top;
	background-color: black;
	text-align: right;
	color: white;
	height: 100%;
	border: 0px;
	border-radius: 0px;
}

/* Random Card =================================================================*/
#random-card {
	background-color: black;
	text-align: center;
	color: white;
	height: 100px;
	border: 0px;
	border-radius: 0px;
}

/* Removing padding from rows and columns ======================================*/
.col {
	padding: 0px;

}

.row {
	margin: 0px;
}