
body {
	background-color: black;
}

.navbar {
	background-color: black;
	font-family: 'Megrim', cursive;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: red;
}

.jumbotron {
	width: 100%;
	background-color: black;
	margin-bottom: 0px;
	text-align: center;
	background: url('https://media.wired.com/photos/592744d3f3e2356fd800bf00/master/w_2000,c_limit/Netflix_LoadTime.gif');
	background-position: center;
	background-size: 70%;
}


h1 {
	color: red;
	font-family: 'Mouse Memoirs', sans-serif;
}

h5 {
	color: red;
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 40px;
}


.lead {
	color: white;
}


#solo-card {
	background: url('http://l-joseph.com/imgs/para2.png');
	background-color: red;
	color: white;
	height: 400px;
	border: 0px;
	border-radius: 0px;
}

#solo-card:hover {
	transition: all 0.3s ease-in;
	background-position: center;
	background: url('https://wallpaperscraft.com/image/dark_black_and_white_abstract_black_background_76353_1024x1024.jpg') bottom;
}

#group-card {
	background: url('https://wallpaperscraft.com/image/dark_black_and_white_abstract_black_background_76353_1024x1024.jpg');
	background-color: gray;
	color: white;
	height: 100%;
	border: 0px;
	border-radius: 0px;
}

#group-card:hover {
	transition: all 0.3s ease-in;
	background-position: center;
	background: url('http://l-joseph.com/imgs/para2.png') bottom;
}

.col {
	padding: 0px;

}

.row {
	margin: 0px;
}